*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1e1e1e;
    font-family: sans-serif;
    color: #a0a0a0;
    line-height: 1.6;
}
.container{
    display: grid;
    max-width: 1200px;
    grid-template-columns: 350px 1fr ;
    gap: 40px;
    padding: 40px;
    margin: auto;
}
.sidebar{
    height: 90vh;
    background-color: #2a2a2a;
    border: 1px solid #3a3a3a;
    border-radius: 16px;
    padding: 40px;
    position: sticky;
    top: 40px;
}
.maincontent{
     /* height: 90vh; */
    background-color: #2a2a2a;
     border: 1px solid #3a3a3a;
    border-radius: 16px;
    padding: 40px;
}

/* Profile  */
.profile img{
    height: 120px;
    width: 120px;
    border-radius: 50px;
     border: 1px solid #3a3a3a;
     margin-top: 25px;
}
.profile h2{
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 20px;
    color: #e0e0e0;
}
.profile p{
    background-color: #1e1e1e;
    padding: 5px 15px;
    color: #FFBF00;
    font-size: 0.8rem;
    border-radius: 8px;
    display: inline-block;
    margin-top: 10px;
}
.profile{
    text-align: center;
}

/* Contact */
.contact{
    margin-top: 30px;
    border-top: 1px solid #3a3a3a;
    padding-top: 20px;
    padding-left: 1.5rem;
}
.label{
    font-weight: 500;
    font-size: 0.8rem;
    color: #a0a0a0;
}
.value{
    color: #e0e0e0;
    text-decoration: none;
}
.email,.phone{
    margin-bottom: 15px;
}
/* social */

.social{
    margin-top: 30px;
    border-top: 2px solid #3a3a3a;
    padding-top: 20px;
    text-align: center;
}
.social img{
    height: 24px;
    width: 24px;
    margin-left: 5px;
    filter: grayscale(1) invert(0.7);
    transition: filter 0.3s ease;
}
.social img:hover{
    filter: grayscale(0) invert(0);
}

/* Main content */
/* navigation */
#navigation{
  border-bottom: 2px solid #3a3a3a;
  margin-bottom: 40px;
  padding-bottom: 40px;
}
nav{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}
nav a{
     text-decoration: none;
     color: #a0a0a0;
     font-weight: 500;
     transition: colour 0.3s ease;
}
.about, nav a:hover{
    color: #FFBF00;
}

/* About */
.head{
    color: #e0e0e0;
    font-size: 2rem;
    margin-bottom: 15px;
}
.line{
    width: 60px;
    height: 5px;
    background: #FFBF00;
    margin-bottom: 15px;
}
.para{
    text-align: justify;
}
#about{
    margin-bottom: 40px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit ,minmax(120px,1fr));
    gap: 30px;
}
.item img{
    height: 48px;
    width: 48px;
    filter: invert(75%) sepia(60%) saturate(500%) hue-rotate(350deg) brightness(110%) contrast(101%);
}
.item{
    padding: 20px;
    border: 2px solid #3a3a3a;
    border-radius: 10px;
    background-color: #1e1e1e;
    text-align: center;
    margin-top: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.item h3{
    font-size: 1rem;
    font-weight: 500;
}
.grid :hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 5px rgb(0,0,0,0.3);
}

/* Education */
#education{
    margin-top: 30px;
}
.year{
  font-size: 0.9rem; 
  color: #a0a0a0; 
  margin-bottom: 5px;
}
.degree{
    color: #e0e0e0;
    font-size: 1.2rem;
    font-weight: 500px;
    margin-bottom: 5px;
}
.college{
    font-style: italic;
    color: #a0a0a0;
    margin-bottom: 10px;
}
.work{
    color: #a0a0a0;
}
.edfirst{
    margin-bottom: 30px;
     padding-left: 20px;
    position: relative;
}
.goal{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 3px solid #FFBF00;
    position: absolute;
    top: 5px;
    left: 0px;
    z-index: 5;
}
.edtech{
    position: relative;
    margin-top: 20px;
}
.liner{
    position: absolute;
    width: 2px;
    top: 20px;
    bottom: 0px;
    left: 5px;
    border: 2px solid #3a3a3a;
}

/* portfollio */
.project-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    margin-top: 30px;
}
.project img{
height: 180px;
width: 100%;
object-fit: cover;
}
.project{
    background-color: #1e1e1e;
    border-radius: 12px;
    border: 1px solid #3a3a3a;
    overflow: hidden;
    transition: transform 0.5s ease box-shadow 0.3 ease;
}
.card{
    padding: 20px;
}
.card h3{
    color: #e0e0e0;
    margin-bottom: 10px;
}
.card p{
    color: #a0a0a0;
    line-height: 1.6;
    margin-bottom: 15px;
}
.card span{
    background-color: rgb(255,191,0,0.1);
    color: #FFBF00;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 0.75rem;
    margin-right: 5px;
}
.project:hover{
   transform: translateY(-10px); 
   box-shadow: 0px 0px 10px 5px rgb(0,0,0,0.3) ;
}

@media screen and (max-width:1200px) {
    .main-container{
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .sidebar{
        position: static;
        height: auto;
    }
}

@media screen and (max-width:750px) {
    .project-container{
        grid-template-columns: 1fr;
    }

    #navigation nav {
        /* Adjust nav for smaller screens */
        justify-content: center;
        flex-wrap: wrap;
    }

    .sidebar{
        display: flex;
        justify-content: center;
        gap: 40px;
    }
}
