*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;  /* or your preferred color */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
.body{
  background-color: #f8f9fa;
  line-height: 1.6;
}
.left{
     display: flex;
    justify-content: space-between;
    padding: 1.5rem;
}
.logo > h1{
     color:rgb(100, 127, 245);
     font-size: 1.7rem;
    margin-left: 9.5rem;
}
.right a{
      text-decoration: none;
      color: black;
      background-color: white;
       border: none;
       margin-left: 1rem;
       font-size: 1.2rem;
       cursor: pointer; 
       transition: all 0.3s ease;
       padding: 15px 15px 15px 15px;
        
}
.right{
  margin-right: 9rem;
}
.right a:hover {
      background-color: #4e54c8;
      color: white;
      box-shadow: 20 20 25 20px rgba(0,0,0,0.2);
      border-radius: 1.2rem;
    }

    .icon {
  font-size: 3rem;
  margin-bottom: 1rem;
}
h3 {
  font-size: 1.75rem;
  font-weight: 700;
  color: #111;
  margin-bottom: 0.75rem;
    /* font-family: 'Poppins', sans-serif; */
}

p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #555;
}

.quick-access {
  text-align: center;
  padding: 3rem 1rem;
  background-color: #f8f9fa;
  height: 130vh;
  width: 100%;
 
}
.quick-access h2 {
  font-size: 3rem;
  font-weight: 700;
  color: #111;
  margin-bottom: 2rem;
  margin-top: 5rem;
  
}
.quick-access p{
  font-family: 'Poppins', sans-serif;
  margin-bottom: 3rem;
   
}
.cards1 {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  
}

a{
  text-decoration: none;
}
.card1 {
  background: #fff;
  border-radius: 20px;
  padding: 2rem 3rem;
  width: 380px;
  height: 280px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  
}
.card1:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.12);
}

.icon1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.last{
  width: 90%vw;
  height: 120px;
  background-color: #5050ef;
  /* margin-top: 10rem; */
}
.name{
  text-align: center;
  color: #fff;
    padding-top: 1.5rem;
    font-size: 1.5rem;
}
.any{
    text-align: center;
  color: #fff;
    padding-top: 0.5rem;
    font-size: 0.9rem;
}
