* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    background: #f2f6f9;
    padding: 40px;
}
.container {
    max-width: 600px;
    background: white;
    padding: 30px;
    border-radius: 12px;
    margin: auto;
    box-shadow: 0px 2px 12px rgba(0,0,0,0.1);
}
.title {
    background: linear-gradient(to right, #005B7F, #0AA3C2);
    padding: 20px;
    margin: -30px -30px 20px -30px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border-radius: 12px 12px 0 0;
}
.inputs {
    display: flex;
    align-items: center;
    gap: 10px;
}

select, input {
    padding: 10px;
    border: 2px solid #c7d7e0;
    border-radius: 8px;
    width: 80px;
    font-size: 16px;
}
.btn-row {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.btn {
    flex: 1;
    padding: 12px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    border: none;
}

.primary {
    background: #006774;
    color: white;
}

.outline {
    background: white;
    border: 2px solid #006774;
    color: #006774;
}
.body{
    display: flex;
    justify-content: space-around;
}
#input1,#input2,#input3{
    margin-top: 0.6rem;
}
.photo{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    text-align: center;
}